services:
    web:
        build: .
        container_name: scoutsbevaixch
        env_file: ".env"
        volumes:
            - ./imgs:/app/imgs
            - ./google_token.json:/app/google_token.json
            - ./static:/app/static
        networks:
            - nginx
        restart: unless-stopped

networks:
  nginx:
    external: true
    name: nginx
