html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 1.06em;
  scroll-behavior: smooth;
}

.bg_image {
  position: fixed;
  background-image: url("/static/photos/outside/panorama0.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transform: scale(1.05);
  opacity: 0.8;
  z-index: -1;
}

body>.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  border-radius: 0px 0px 40px 40px;
}

header {
  border-bottom: 2px solid;
  font-size: 1.1em;
}

.nav-link {
  font-weight: 500;
  color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.4) !important;
  transition: 200ms;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.ease_load {
  opacity: 0;
  transition: all 1s ease;
}

.skip_nav {
  position: absolute;
  transform: translateY(-120%);
}

.skip_nav:focus {
  transform: translateY(0);
  transition: all 150ms linear;
}

.black_shadow {
  text-shadow: 1px 1px 20px black, 1px -1px 20px black, -1px 1px 20px black, -1px -1px 20px black, 0px 1px 20px black, 1px 0px 20px black, 0px -1px 20px black, -1px 0px 20px black;
}

.warning {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.5);
  font-weight: bold;
}