[Unit]
Description=Scouts Bevaix Gunicorn
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/scouts-bevaix.ch/www.scouts-bevaix.ch
ExecStart=/usr/bin/python /usr/local/bin/gunicorn --bind unix:/tmp/www.scouts-bevaix.ch_gunicorn.sock -m 007 scoutsbevaix.wsgi:application

[Install]
WantedBy=multi-user.target
