{% extends "base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}
{% block header %}Accueil{% endblock %}

{% block main %}
<div>
  <p>
    <img src="{% static 'logos/Logo_Abbaye_250.png' %}" class="img-fluid">
  </p>
  <p>
    Tu as entre 6 et 15 ans ? Tu aimes partir à l'aventure ?
  </p>
  <p>
    Alors passe un après-midi, avec les scouts de l'Abbaye
  </p>
  <p>
    La journée a lieu au local des scouts de Bevaix (à côté du stand de tir), de 14h00 à 17h00
  </p>
  <p>
    Pour plus d'infos renseignez-vous dans les rubriques carte et contact.
  </p>
</div>
{% endblock %}
