{% extends "base.html" %}

{% block title %}Albums{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Accueil</a></li>
<li class="breadcrumb-item"><a href="/albums">Albums</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    {% for image in images %}
    <div class="col col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
      <div class="card easeload">
        <a data-fancybox="gallery" href="/image/{{ name }}/{{ image }}">
          <img src="/thumbnail/{{ name }}/{{ image }}" class="rounded card-img" onload="show_parent_parent(this);">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="{% static 'js/gallery.js' %}"></script>

{% endblock %}
