{% extends "base.html" %}

{% block title %}Albums{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Accueil</a></li>
<li class="breadcrumb-item"><a href="/albums">Albums</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
{% endblock %}

{% block main %}

<div class="row row-cols-md-4">
  {% for image in images %}
  <div class="col mb-4">
    <div class="card easeload">
      <img src="/thumbnail/{{ name }}/{{ image }}" class="card-img" onload="show_parent(this);">
    </div>
  </div>
  {% endfor %}
</div>

<ul class="pagination justify-content-md-center">
  {% if pagination.p_page %}
  <li class="page-item">
    <a class="page-link" href="/albums/{{ name }}/{{ pagination.p_page }}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span aria-hidden="true" class="page-link">&laquo;</span>
  </li>
  {% endif %}

  {% for page_i in pagination.page_range %}
  {% if pagination.c_page != page_i %}
  <li class="page-item"><a class="page-link" href="/albums/{{ name }}/{{ page_i }}">{{ page_i }}</a></li>
  {% else %}
  <li class="page-item active">
    <span class="page-link">
      {{ page_i }}
      <span class="sr-only">(current)</span>
    </span>
  </li>
  {% endif %}
  {% endfor %}

  {% if pagination.n_page %}
  <li class="page-item">
    <a class="page-link" href="/albums/{{ name }}/{{ pagination.n_page }}" aria-label="Previous">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span aria-hidden="true" class="page-link">&raquo;</span>
  </li>
  {% endif %}
</ul>

{% endblock %}
