{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/master.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
  <title>{% block title %}{% endblock %} · Scouts Bevaix</title>
</head>

<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="." class="align-items-center col-md-2">
        <img src="{% static 'logos/Logo_Abbaye_100.png' %}" class="img-fluid" alt="image halle 0">
      </a>

      <ul class="nav col-md-auto justify-content-center">
        <li><a href="/" class="nav-link px-2 link-dark">Accueil</a></li>
        <li><a href="/scoutisme" class="nav-link px-2 link-dark">Scoutisme</a></li>
        {# <li><a href="/actualites" class="nav-link px-2 link-dark">Actualités</a></li> #}
        <li><a href="/calendrier" class="nav-link px-2 link-dark">Calendrier</a></li>
        <li><a href="/albums" class="nav-link px-2 link-dark">Albums</a></li>
        <li><a href="/locations" class="nav-link px-2 link-dark">Locations</a></li>
        <li><a href="/carte" class="nav-link px-2 link-dark">Carte</a></li>
        <li><a href="/contacts" class="nav-link px-2 link-dark">Contacts</a></li>
      </ul>

      <div class="col-md-2 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Connexion</button>
      </div>
    </header>
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb">
        {% block breadcrumb %}{% endblock %}
      </ol>
    </nav>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer class="d-flex justify-content-center py-3 h5">
        <a class="px-2" style="color:#1877f2;" href="/">
          <i class="fab fa-facebook"></i>
        </a>
        <a class="px-2" style="color:#c32aa3;" href="/">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="px-2" style="color:#171515;" href="https://github.com/TheRaphael0000/scoutsbevaix">
          <i class="fab fa-github"></i>
        </a>
    </footer>
  </div>
</body>

</html>
