{% extends "base.html" %}
{% load static %}

{% block title %}Emplacement{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'accueil' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Emplacement</li>
{% endblock %}

{% block main %}

<p>
  Groupe scout de l'Abbaye<br>
  Rte de la Montagne<br>
  2022 Bevaix<br>
</p>
<p>
  Le chalet scout se situe en bordure de forêt dans les hauts de Bevaix dans le canton de Neuchâtel.
</p>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1680.5721297065886!2d6.805335656450086!3d46.93033051578512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478dddfe17a2e1f3%3A0xa1b819b481235797!2sGroupe+scout+de+l'Abbaye!5e1!3m2!1sfr!2sch!4v1523447112198"
  width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen="" class="p-3">
  Erreur de chargement de la carte
</iframe>


<h2>Photos</h2>
<div>
  <a data-fancybox="gallery" href="{% static 'photos/outside/panneauB1.jpg' %}">
    <img src="{% static 'photos/outside/panneauB1.jpg' %}" class="img-fluid p-3">
  </a>
  <a data-fancybox="gallery" href="{% static 'photos/outside/cheminB5.jpg' %}">
    <img src="{% static 'photos/outside/cheminB5.jpg' %}" class="img-fluid p-3">
  </a>
  <a data-fancybox="gallery" href="{% static 'photos/outside/feu0.jpg' %}">
    <img src="{% static 'photos/outside/feu0.jpg' %}" class="img-fluid p-3">
  </a>
  <a data-fancybox="gallery" href="{% static 'photos/outside/cheminA0.jpg' %}">
    <img src="{% static 'photos/outside/cheminA0.jpg' %}" class="img-fluid p-3">
  </a>
</div>

<script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
