{% load static %}
<footer class="d-flex justify-content-center py-3 h5">
  <a class="px-2" style="color:#1877f2;" accesskey="f" href="">
    <i class="fab fa-facebook"></i>
  </a>
  <a class="px-2" style="color:#c32aa3;" accesskey="i" href="https://instagram.com/scouts.abbaye">
    <i class="fab fa-instagram"></i>
  </a>
  <a class="px-2" style="color:#171515;" accesskey="g" href="https://github.com/TheRaphael0000/www.scouts-bevaix.ch">
    <i class="fab fa-github"></i>
  </a>
  <a class="px-2" style="color:#82C91E;" accesskey="l" href="{% url 'log' %}">
    <i class="fas fa-tree"></i>
  </a>
</footer>
