{% extends "base.html" %}

{% block title %}Scoutisme{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Scoutisme</li>
{% endblock %}

{% block main %}

<h1>Scoutisme Suisse</h1>

<p>
  Ouvert à tout le monde
  Tout le monde est bienvenu dans le scoutisme, quelques soient la nationalité, la confession, l’origine sociale, l’orientation politique et l’orientation sexuelle.


  Vous trouvez plus d'informations sur les valeurs du scoutisme en Suisse sur le site du <a href="https://pfadi.swiss/fr/">Mouvement Scout de Suisse</a>
</p>

<p>
  <cite>- Essayez de laisser le monde un peu meilleur que vous l’avez trouvé.</cite> Lord Robert Baden-Powell, fondateur du scoutisme

</p>

<h2>Le groupe Scout de l'Abbaye</h2>

<p>
  Le groupe scout de l'Abbaye de Bevaix a été crée en 1921 (et oui, notre groupe est centenaire), c'est l'un des plus vieux groupe scout du canton de Neuchâtel.
  Vous pouvez trouvez plus d'information sur les <a href="https://www.scoutne.ch/">Scouts Neuchatelois</a> sur leur site Web.
</p>
<p>
  Le groupe porte ce nom, car à la sa création les scouts de Bevaix se donnaient rendez-vous à l'abbaye du village qui fait face au lac.
  Aujourd'hui le quartier général du groupe de l'Abbaye est situé dans les hauts de Bevaix.
</p>
<p>
  Dans notre groupe, toutes les confessions sont acceptés !
  Nous ne participons à aucune activité religieuse.
  Si vous recherchez un groupe scout chrétien, nous conseillons de vous renseignez sur le site des <a href="http://www.flambeaux.ch/">Flambeaux de l'Évangile Suisse</a>.
</p>
<p>
  Notre foulard est rouge et noir avec un carré violet à l'extrémité.
</p>

<h2>Les branches</h2>
<p>
  Dans notre groupe scouts et dans la plus part des groupes scouts Suisse, les jeunes sont réparties dans 4 tranches d'âges appelé branches : Les Louveteaux, les Éclaireurs, les Pionniers et les Chefs.
</p>


<h3><i class="fas fa-tshirt" style="color:#007ca1;"></i> Louveteau / Louvette (7-11 ans)</h3>
<p>
  Par petit groupes appelé sizaines, les Louveteaux jouent, font des bricolages, chantent, découvrent la nature et écoutent des histoires.
</p>
<p>
  Les louveteaux peuvent participer aux camps avec le reste du groupe.
</p>
<p>
  L'uniforme des Louveteaux en Suisse est bleu.
</p>
<p>
  <cite>- De notre mieux !</cite>
</p>

<h3><i class="fas fa-tshirt" style="color:#bb8837;"></i> Éclaireur / Éclaireuse (11-15 ans)</h3>
<p>
  Les Éclaireurs sont regroupé par petit groupes appellé partouilles.
  Ils apprennent divers techniques scouts tel que : l'utilisation des cartes/boussoles, l'exploration, les nœuds, le moyens de communication.
</p>
<p>
  25 thèmes sont abordé tel que : Samaritain, Photographie, Musique, Astronomie, Cuisine, Théâtre, Environnement, etc. (<a href="https://fr.scoutwiki.org/Badges_de_sp%C3%A9cialit%C3%A9s_du_mouvement_scout_de_Suisse">liste complète</a>)
  Pour chacun de ces thèmes un badge de spécialité peut être obtenu.
</p>
<p>
  Lors des camps, les éclaireurs sont généralement TODO
</p>
<p>
  L'uniforme des éclaireurs en Suisse est beige.
</p>
<p>
  <cite>- Toujours prêts !</cite>
</p>


<h3><i class="fas fa-tshirt" style="color:#d10000;"></i> Pionnier / Cordée (15-18 ans)</h3>
<p>
  Durant l'année, les Pionnier sont libre d'organiser des activités scouts qui leur plaisent.
  Ils se répartissent leur tâches et chaqu'un est responsable au bon déroulement de leur activité.
</p>
<p>
  Malgré leur indépendence, ils peuvent toutefois demander conseil aux chefs, si nécessaire.
</p>
<p>
  Lors des camps, les Pionnier aide à la construction du lieu de camps, tel que le montage de tentes et la construction de structure comme : des tables pour le réfectoire, les plan de travail pour la cuisine, les WC, etc.
</p>
<p>
  L'uniforme des pionniers en Suisse est rouge.
</p>
<p>
  <cite>- S'engager !</cite>
</p>

<h3><i class="fas fa-tshirt" style="color:#005a49;"></i> Chef / Cheftaine (≥18 ans)</h3>

<p>
  Les chef et cheftaine s'occupent de préparer et animer les activités pour les sizaines, patrouilles.
</p>
<p>
  TODO
</p>
<p>
  L'uniforme des chefs en Suisse est vert.
</p>
<p>
  <cite>- Servir !</cite>
</p>

<h2>Les camps</h2>
TODO
<h2>Les badges et les spécialités</h2>
TODO
<h2>Les totems</h2>
TODO
<h2>Histoire du scoutisme</h2>
TODO


{% endblock %}
