{% extends "base.html" %}

{% block title %}Scoutisme{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'accueil' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Scoutisme</li>
{% endblock %}

{% block main %}

<div class="h2">Sommaire</div>

<div id="toc" class="p-4">
</div>

<h2 id="scoutisme-suisse">Scoutisme Suisse</h2>

<cite>
  Le scoutisme est fait pour que les enfants s’amusent et vivent dans la nature.
  Mais il est aussi une organisation fondée sur des valeurs comportant des objectifs pédagogiques.
  Le scoutisme transmet des compétences précieuses.
</cite>
<cite>
  Ouvert à tout le monde.
  Tout le monde est bienvenu dans le scoutisme, quelques soient la nationalité, la confession, l’origine sociale, l’orientation politique et l’orientation sexuelle.
</cite>
<p>
  Vous trouvez plus d'informations sur les valeurs du scoutisme en Suisse sur le site du <a href="https://pfadi.swiss/fr/">Mouvement Scout de Suisse</a> (MSdS).
</p>

<p>
  Nous essayons de véhiculer les valeurs suivantes :
</p>
<ul>
  <li>Sport</li>
  <li>Créativité</li>
  <li>Communication</li>
  <li>Nature</li>
  <li>Sciences</li>
  <li>Techniques scoute</li>
</ul>

<p>
  <cite>- Essayez de laisser le monde un peu meilleur que vous l’avez trouvé.</cite> Lord Robert Baden-Powell, fondateur du scoutisme

</p>

<h2 id="groupe-abbaye">Le groupe Scout de l'Abbaye</h2>

<p>
  Le groupe scout de l'Abbaye de Bevaix a été crée en 1921 (et oui, notre groupe est centenaire), c'est l'un des plus vieux groupe scout du canton de Neuchâtel.
  Vous pouvez trouver plus d'informations sur les <a href="https://www.scoutne.ch/">Scouts Neuchatelois</a> sur leur site Web.
</p>
<p>
  Le groupe porte ce nom, car à la sa création les scouts de Bevaix se donnaient rendez-vous à l'Abbaye du village qui fait face au lac.
  Aujourd'hui le quartier général du groupe de l'Abbaye est situé dans les hauts de Bevaix.
</p>
<p>
  Dans notre groupe, toutes les confessions sont acceptées !
  Nous ne participons à aucune activité religieuse.
  Si vous recherchez un groupe scout chrétien, nous conseillons de vous renseigner sur le site des <a href="http://www.flambeaux.ch/">Flambeaux de l'Évangile Suisse</a>.
</p>
<p>
  Notre foulard est rouge et noir avec un carré violet à l'extrémité.
</p>

<h2 id="branches">Les branches</h2>
<p>
  Dans notre groupe scouts et dans la plus part des groupes scouts suisses, les jeunes sont réparties dans 4 tranches d'âges appelé branches : Les Louveteaux, les Éclaireurs, les Pionniers et les Chefs.
</p>


<h3 id="louveteaux">Louveteau / Louvette (7-11 ans) <i class="fas fa-tshirt" style="color:#007ca1;"></i></h3>
<p>
  Par petits groupes appelé sizaines, les Louveteaux jouent, font des bricolages, chantent, découvrent la nature et écoutent des histoires.
</p>
<p>
  Les louveteaux peuvent participer aux camps avec le reste du groupe.
</p>
<p>
  L'uniforme des Louveteaux en Suisse est bleu.
</p>
<p>
  <cite>- De notre mieux !</cite>
</p>

<h3 id="eclaireurs">Éclaireur / Éclaireuse (11-15 ans) <i class="fas fa-tshirt" style="color:#bb8837;"></i></h3>
<p>
  Les Éclaireurs sont regroupés par petits groupes appelés patrouilles.
  Les patrouilles comportent des éclaireurs d'expérience différentes (des plus expérimentés avec des moins expérimentés).
  Ils apprennent diverses techniques scoutes telles que : l'utilisation des cartes/boussoles, l'exploration, les nœuds, les moyens de communication.
</p>
<p>
  25 thèmes sont abordé tel que : Samaritain, Photographie, Musique, Astronomie, Cuisine, Théâtre, Environnement, etc. (<a href="https://fr.scoutwiki.org/Badges_de_sp%C3%A9cialit%C3%A9s_du_mouvement_scout_de_Suisse">liste complète</a>)
  Pour chacun de ces thèmes un badge de spécialité peut être obtenu.
</p>
<p>
  Lors des camps, les éclaireurs sont généralement amené à partir en randonné sur 2 jours par patrouilles.
  Ils auront préalablement été préparés à cette expédition et peuvent toujours contacter les responsables en cas de problème.
</p>
<p>
  L'uniforme des éclaireurs en Suisse est beige.
</p>
<p>
  <cite>- Toujours prêts !</cite>
</p>


<h3 id="pionniers">Pionnier / Cordée (15-18 ans) <i class="fas fa-tshirt" style="color:#d10000;"></i></h3>
<p>
  Durant l'année, les Pionniers sont libres d'organiser des activités scoutes qui leur plaisent.
  Ils se répartissent leurs tâches et chacun est responsable au bon déroulement de leur activité.
</p>
<p>
  Malgré leur indépendance, ils peuvent toutefois demander conseil aux chefs, si nécessaire.
</p>
<p>
  Lors des camps, les Pionniers aident à la construction du lieu de camps, tel que le montage de tentes et la construction de structure comme : des tables pour le réfectoire, les plans de travail pour la cuisine, les WC, etc.
</p>
<p>
  L'uniforme des pionniers en Suisse est rouge.
</p>
<p>
  <cite>- S'engager !</cite>
</p>

<h3 id="chefs">Chef / Cheftaine (≥18 ans) <i class="fas fa-tshirt" style="color:#005a49;"></i></h3>

<p>
  Les chefs et cheftaines s'occupent de préparer et d'animer les activités pour les sizaines et les patrouilles.
</p>
<p>
  Certains Chefs ont également des responsabilités supplémentaires.
</p>
<p>
  L'uniforme des chefs en Suisse est vert.
</p>
<p>
  <cite>- Servir !</cite>
</p>

<h2 id="materiel">Le matériel</h2>

<p>
  Pas de matériel n'est nécessaire dans l'absolu lors des séances du samedi.
  Mais tout bon scout a toujours avec lui un PA-CRA-FI-COU (PApier, CRAyon, FIcelle, COUteau).
</p>

<h2 id="camps-et-weekend">Les camps et les week-ends</h2>

<p>
  Chaque année, nous organisons un camp d'été qui se déroule sur 1 à 2 semaines durant les vacances scolaires.
  Parfois uniquement avec notre groupe, parfois avec 1 ou 2 autre(s) groupe(s), parfois avec tous les scouts du canton de Neuchâtel (tous les 7 ans: ..., 2005, Magma 2012, WØDEN 2019, 2026, ...), parfois avec tous les scouts de Suisse (tous les 14 ans: depuis
  Bula/Cana 1980, Cuntrast 1994, Contura 2008, Mova 2022, 2036, ...).
</p>
<p>
  Des week-ends scouts sont également proposés durant l'année pour, par exemple : Pâques, Halloween, Noël.
</p>

<h2 id="totems">Les totems</h2>

<p>
  Une fois qu'un scout a un niveau d'ancienneté assez élevé, il se fait totémiser et reçoit un animal totem et un adjectif lui correspondant.
</p>
<p>
  Mais attention !
</p>
<p>
  <cite>
    La première règle de la Totémisation : Il est interdit de parler de la Totémisation.
    <br>
    La seconde règle de la Totémisation : Il est interdit de parler de la Totémisation.
  </cite>
</p>


<h2 id="histoire">Histoire du scoutisme, en bref</h2>

<p>
  Le mouvement scout a été crée par Robert Stephenson Smyth Baden-Powell est né le 22 février 1857 à Londres.
  Il est aussi fréquemment appelé par les initiales de son nom : BP (prononcé à l'anglaise : "BiPi").
</p>

<p>
  Cancre a l'école, Robert ne réussit pas à passer les examens pour entrer à l'université, il se dirigea alors vers l'armée.
  Avec ses troupes, vers l'age de 20 ans, il partit en Inde, qui était encore sous colonie anglaise.
  Pendant son temps libre BP s'intéressa au travail des éclaireurs et leur importance dans les missions militaires.
  Promu capitaine, Baden-Powell se déplaça ensuite en Afrique du Sud, où lors d'une guerre il sauva la ville de Mafeking d'une attaque comptant quatre fois plus d'ennemis.
  Il prouva alors que les jeunes étaient très à même de réussir des missions dès lors qu'on leurs fait confiance.
  Durant cette attaque, la mission des jeunes était de transporter des messages à pied ou à vélo.
</p>
<p>
  BP mis fin à sa carrière militaire, retourna en Angleterre et se fixa pour objectif <i>De transformer ce qui était un art d'apprendre aux hommes à faire la guerre, en un art d'apprendre aux jeunes à faire la paix</i>.
</p>
<p>
  C'est ainsi que le scoutisme vu le jour. À noter que "un éclaireur" est une traduction littéral du nom "a scout" en anglais.
</p>
<p>
  Le premier camp scout se déroula en 1907 sur l'île de Brownsea.
  Il testa ses idées d'éducation par le jeu, d'indépendance et de confiance. Après ce camp, le mouvement scout était en marche et se répandit dans toute l'Angleterre puis sur tout le Globe.
</p>
<p>
  Aujourd'hui on estime le nombre de scouts à plus de 25 millions répartis dans plus de 150 pays.
</p>

<script>
  tocbot.init({
    tocSelector: "#toc",
    contentSelector: "main",
    headingSelector: 'h1, h2, h3',
    collapseDepth: 3,
    activeLinkClass: '',
    scrollSmooth: false,
    includeHtml: true,
  });
</script>
{% endblock %}
